<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
  <div>
    <h1>Create</h1>
  </div>
  <div>
    <form action="#" th:object="${issue}" method="post" th:action="@{/issues/issue}">
      <label>Description: <input type="text" th:field="*{description}"/></label>
      <label>Severity: <input type="text" th:field="*{severity}"/></label>
      <label>Assignee: <input type="text" th:field="*{assignee}"/></label>
      <button type="submit">Send</button>
    </form>
  </div>
</body>
</html>